@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;600&display=swap');
//Variable
$font:'Roboto Mono', monospace;
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.navbg{
    width: 100%;
    height: 85px;
    background-color:#f8f9fa;
}
.navbg{
    .btn{
        margin-left: -49px;
        border-left: 0;
        border-color: #ced4da;
        background-color: white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
     }
}
.me-2{
    border-right: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 45px;
}
.logoimg{
    width: 160px;
    height: auto;
}
.img-contain{
    width: 100%;
    height: 540px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
#card{
    width: 100%;
    height: 100vh;
}
.flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.custom-caption{
    position: absolute;
    top: 100px;
    h5{
        font-size: 60px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font;
    }
}
.custom-btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.mt-8{
    margin-top: 90px;
}
.navbar{
    z-index: 9999;
}
.about{
    height: 70vh;
    width: 100%;
}
.about-pic{
    width: 500px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media screen and (min-width:960px){
    .marginl{
        margin-left:200px;
        }
    .marginul{
        margin-left: 30px;
    }
    .dropdown-center{
        position: absolute;
        top: 150%;
        left: -30%;
    }
    .flex{
        flex-wrap: nowrap;
        flex-direction: row;
    }
}
.about{
    margin-top: 100px;
}